@model Pre_project.Models.Tutor

@{
    ViewBag.Title = "ProfileTutor";
    Layout = "~/Views/Shared/_LayoutT.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>RIANRAI.COM</title>
    <!-- Bootstrap core CSS -->
    <link href="~/asset/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/asset/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="~/asset/css/freelancer.css" rel="stylesheet">
</head>

<body id="page-top">
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <span class="name">โปร์ไฟล์ของฉัน</span>
                <hr class="star-light">
            </div>
        </div>
    </header>

    <br />
    <br />
    <center>
        <div class="row">
            <div class="col-md-12 personal-info">
                <div class="form-group">
                    <label>Username : </label>
                    <div class="col-lg-4">
                        <input class="form-control" type="text" name="username" value="@Model.Username" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label>ชื่อจริง : </label>
                    <div class="col-lg-4">
                        <input class="form-control" type="text" value="@Model.Tutor_name" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label>นามสกุล : </label>
                    <div class="col-lg-4">
                        <input class="form-control" type="text" value="@Model.Tutor_lastname" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label>เพศ : </label>
                    <div class="col-lg-4">
                        <input class="form-control" type="text" value="@Model.Sex" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label>เบอร์ : </label>
                    <div class="col-lg-4">
                        <input class="form-control" type="text" value="@Model.Tel" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label>อีเมล : </label>
                    <div class="col-lg-4">
                        <input class="form-control" type="text" value="@Model.Email" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label>การศึกษา : </label>
                    <div class="col-lg-4">
                        <input class="form-control" type="text" value="@Model.Education" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label>ราคาต่อชั่วโมง : </label>
                    <div class="col-lg-4">
                        <input class="form-control" type="text" value="@Model.Price" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label>รูปโปรไฟล์ : </label>
                    <div class="col-lg-4">
                        <center>
                            <img src="@Model.Image" style="height:300px; width:300px" />
                        </center>
                    </div>
                </div>
                <br />
                <a class="btn btn-success btn-lg" onclick="location.href='@Url.Action("EditProfile", "Tutor",new { username = Model.Username })';">แก้ไขโปร์ไฟล์</a>
                <a class="btn btn-success btn-lg" onclick="location.href='@Url.Action("ChangePasswordT", "Tutor")';">เปลี่ยนรหัสผ่าน</a>
            </div>
        </div>
    </center>
    <br />
    <br />
</body>
</html>
